@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body{
    display: inline;
    background-color: rgb(27, 27, 27);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 90px;
}

#backgroundImage{
    top: 135px;
    left: 5%;
    height: 100vh;
    width: 90vw;
    position: fixed;
    z-index: -10;
    background-image: url('../img/ph-programming.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

/* header */
header{
    background-color: rgb(39, 39, 39);
}

header ul{
    padding-left: 80%;
    display: inline-flex;
}

i{
    font-size: 3.5em;
}

ul > li{
    list-style-type: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

/*  nav  */
#header{
    position: relative;
    top: 40vh;
}

nav{
    z-index: 10;
    padding-left: 2%;
}

.css-typing > h1{
    font-size: 100px;
}

#links{
    display: inline-flex;
}

#links > h1 a{
    font-size: 50px;
    text-decoration: none;
}

a, h1{
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

h1:hover{
    text-decoration: underline;
}

/* styling */
nav{
    width: 90%;
}


/* Media Queries */
@media only screen and (min-width: 1000px) and (max-width: 1400px){
    body {
        background-color: red;
    }

    header ul{
        padding-left: 75%;
    }

    .css-typing > h1{
        font-size: 70px;
    }

    i{
        font-size: 3em;
    }
}


@media only screen and (max-width: 1000px) {
    body{
        background-color: blue;
    }

    .css-typing > h1{
        font-size: 60px;
    }

    header ul{
        padding-left: 67%;
    }

    nav{
        padding-left: 0%;
    }
    
}
