@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Koulen&display=swap');


body{
    color: white;
    background-color: rgb(27, 27, 27);
    font-family: 'Koulen', 'BIZ UDPGothic', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

main{
    width: 90vw;
    margin-bottom: 100px;
}

main p{
    font-family: 'BIZ UDPGothic', 'Koulen',sans-serif;
}

/*  nav  */
header{
    background-color: rgb(39, 39, 39);
}
.nav{
    z-index: 10;
}

.nav-item a{
    font-size: 1.6em;
    color: white;
}


/* about me */
#experience div > span{
    max-width: 150px;
    max-height: 50px;
}

#experience div{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
}

#experience div > span img{
    width: 100%;
    height: 100%;
}


/*  Project  */
#projects .row > .col{
    margin: 0 0 10px 0;
    padding: 0;
}


footer{
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    background-color: rgb(48, 48, 48);
}

footer nav ul{
    list-style-type: none;
    display: inline-flex;
    font-family: 'BIZ UDPGothic', 'Koulen',sans-serif;
    color: white;
}

footer nav ul > li{
    margin-right: 20px;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
    .card{
        width: 70vw;
    }

    #index-grid{
        grid-template-columns: 1fr;
    }
}
