@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Koulen&display=swap');


body{
    background-color: rgb(78, 78, 78);
    font-family: 'Koulen', 'BIZ UDPGothic', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

main{
    width: 90vw;
    margin-bottom: 100px;
}

main p{
    font-family: 'BIZ UDPGothic', 'Koulen',sans-serif;
}

/*  nav  */
.nav{
    z-index: 10;
}

.nav-item a{
    font-size: 1.6em;
}

/*  Project  */
#projects .row > .col{
    margin: 0 0 10px 0;
    padding: 0;
}

/* index-grid */
#index-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#index-grid > div{
    min-width: 200px;
}

#index-grid > div img{
    width: 100%;
}

footer{
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;

    background-color: rgb(48, 48, 48);
    font-family: 'BIZ UDPGothic', 'Koulen',sans-serif;
    color: white;
    overflow: hidden;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
    .card{
        width: 70vw;
    }
}
